.img-box > img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.icons-box > svg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #8650e252;
  margin: 0 8px;
  padding: 3px;
  color: rgba(115, 45, 221, 0.919);
}
.icons-box {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -12px;
  /* #EEF2FF */
}
